body {
  margin: 0;
  font-family: "Fira Sans";
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.tamanho-max {
  max-width: 1200px;
  margin: 0 auto;
}

.titulo {
  text-transform: uppercase;
  word-break: break-all;
  font-size: 144px;
}

@media (max-width: 1050px) {
  .titulo {
    font-size: 100px;
  }
}

@media (max-width: 750px) {
  .titulo {
    word-break: keep-all;
    font-size: 50px;
  }
}
